body{
  background-color: green;
}
.card {
  width: 150px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .symbol {
  position: absolute;
  font-size: 46px;
}

.symbol-top-left {
  top: 10px;
  left: 10px;
}

.symbol-bottom-right {
  bottom: 10px;
  right: 10px;
}

.card .value {
  font-size: 44px;
}

.card .symbol.red {
  color: red;
}